<div class="end">
    <div class="bg">
        <h2 class="text-center">CAM KẾT</h2>
        <h6 class="text-center">Chúng tôi luôn muốn mang đén cho bạn dịch vụ tốt nhất</h6>
        <div class="container">
            <div class="row pt-3 pb-3">
                <div class="col-md-4">
                    <h4>MIỄN PHÍ VẬN CHUYỂN</h4>
                    <h6>Săn mã miễn phí vận chuyển Shopee hôm nay - Freeship Xtra siêu ưu đãi. Tràn ngập voucher Freeship Xtra tặng bạn. Săn mã Freeship Shopee ngay hôm nay!</h6>
                </div>
                <div class="col-md-4">
                    <h4>ĐỔI TRẢ HÀNG NHANH</h4>
                    <h6>Săn mã miễn phí vận chuyển Shopee hôm nay - Freeship Xtra siêu ưu đãi. Tràn ngập voucher Freeship Xtra tặng bạn. Săn mã Freeship Shopee ngay hôm nay!</h6>
                </div>
                <div class="col-md-4">
                    <h4>HỖ TRỢ ONLINE 24/24</h4>
                    <h6>Săn mã miễn phí vận chuyển Shopee hôm nay - Freeship Xtra siêu ưu đãi. Tràn ngập voucher Freeship Xtra tặng bạn. Săn mã Freeship Shopee ngay hôm nay!</h6>
                </div>
            </div>
        </div>
    </div>
</div>
