<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <header>
        <div class="container-fluid bg-light" style="padding: 15px 0px;">
            <div class="row">
                <div class="col-md-3">
                    <img src="https://bf5ylyhwc6obj.vcdn.cloud/templates/default/themes/ecom/images/common/logo.png" alt="">
                </div>
                <div class="col-md-6">
                    <nav class="navbar navbar-expand-sm navbar-light mt-2    ">
                        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="collapsibleNavId">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">TRANG CHỦ <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown d-inline-block position-relative">
                                    <a style="color: black" class="nav-link dropdown-toggle  navItem" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SẢN PHẨM</a>
                                    <div class="dropdown-menu dropMenu" aria-labelledby="dropdownId">
                                        <a class="dropdown-item px-1 py-2 ps-2" routerLink="/list">Tất cả</a>
                                        <a class="dropdown-item px-1 py-2 ps-2" routerLink="/list/{{cate.id}}" *ngFor="let cate of categories">{{cate.name}}</a>
                                    </div>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">BLOG <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">GIỚI THIỆU <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">LIÊN HỆ <span class="sr-only">(current)</span></a>
                                </li>
                                
                               
                            </ul>
                        
                        </div>
                    </nav>
                </div>
                <div class="col-md-3 right">
                    <div class="row">
                       <nav>
                        <ul>
                            <li class="nav-item d-inline-block " routerLink="/login" *ngIf="!isUserLoggedIn;else noAcc">
                                <a class="nav-link  navItem ms-0" style="cursor:pointer;font-weight: bold;"><span><i class="fa-solid fa-user"></i></span></a>
                                
                            </li>
                            <li style="list-style: none;"><i class="fa-solid fa-cart-shopping" style="position: absolute;top: 48%;cursor: pointer;right: 40%;"></i></li>
                            <ng-template #noAcc>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="nav-link"><span style="cursor:pointer;font-weight: bold;">Hi: {{acc_login.name}}</span></a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="" (click)="logout()" class="nav-link"><span style="cursor:pointer;font-weight: bold;color: black;"><i class="fa-solid fa-right-from-bracket"></i></span></a>
                                    </div>
                                </div>
                            </ng-template>
                          
                        </ul>
                       </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


